@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: rgb(60, 128, 103);
    --cream: rgb(242, 235, 227);
    --very-dark-blue: rgb(28, 35, 43);
    --dark-grayish-blue: rgb(108, 114, 137);
    --white: rgb(255, 255, 255);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 14px;
}

main {
    width: 375px;
}

img {
    max-width: 100%;
}
