@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: rgb(60, 128, 103);
    --cream: rgb(242, 235, 227);
    --very-dark-blue: rgb(28, 35, 43);
    --dark-grayish-blue: rgb(108, 114, 137);
    --white: rgb(255, 255, 255);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
}

main {
    width: 375px;
    background-color: var(--white);
    border-radius: 1em;
    overflow: hidden;
}

img {
    max-width: 100%;
}

section {
    padding: 1.5em;
}

section > * + *{
    margin-block-start: 1rem;
}

div {
    display: flex;
    align-items: center;
    margin-block-start: 3em;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-cyan);
    border: none;
    padding: 1em;
    border-radius: .5em;
    color: white;
    font-weight: 700;
    margin-block-start: 2em;
}

button img {
    margin-inline-end: 1em;
}

/* Typography */
h1 {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
}

h1, div p:first-of-type {
    font-size: 2rem;
}

h2, p {
    color: var(--dark-grayish-blue);
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .3em;
    font-size: .8rem;
}

p {
    line-height: 1.5rem;
}

div p:first-of-type {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-inline-end: 1em;
}
